<div class="graph-links">
  <h1><%=t "his_links" %></h1>
  <%= render partial: 'characters/links_table', locals: {links: @character.to_links} %>
  <h1><%=t "his_other_links" %></h1>
  <%= render partial: 'characters/links_table', locals: {links: @character.from_links} %>
</div>
