/* ===================================================
 Hooks
=================================================== */
html {
    overflow-x: hidden;
	height: 100%;
}

body.without-container {
	overflow-x: hidden;
	margin-top: 50px;
	height: calc(100% - 50px);
	position: relative;
}
.invisible {
  display: none;
}
.text-center {
  text-align: center;
}
.text-justify {
  text-align: justify;
}
.text-right {
  text-align: right;
}
@media (max-width: 400px) {
  .visible-smallphone {
    display: block;
  }
  .hidden-smallphone {
    display: none;
  }
}
@media (min-width: 401px) {
  .visible-smallphone {
    display: none;
  }
  .hidden-smallphone {
    display: block;
  }
}

/* ==========================================================================
MosaicFlow
========================================================================== */

.mosaicflow__column {
    float:left;
}
/*.mosaicflow__item img {
    display:block;
    width:100%;
    height:auto;
}*/
.mosaicflow__item .item {
    padding: 0 15px 20px;
    display:block;
    width:100%;
    height:auto;
}

/* ==========================================================================
Sliders
========================================================================== */

/*#link_force_slider .slider-selection {
	background: green;
}

#link_force_slider .slider-track-high {
	background: red;
}*/


/* Graph */

.graph-character {
    text-align: right;
}
.graph-avatar-character {
    float: right;
    padding: 1px; 
    border: 2px solid black; 
    margin: 5px;
    width: 200px;
}
.graph-avatar-link {
    float: left;
    padding: 1px; 
    border: 2px solid black; 
    margin: 5px;
    width: 100px;
}
table.character-links {
    width: 100%;
}
table.character-links td:first-child {
    width: 126px;
}
table.character-links td {
    vertical-align: top;
    padding: 0 5px;
}
table.character-links h4 {
    margin-top: 0;
}
table.character-links img.thumbnail {
    max-width: 200px;
}
table.character-links .thumbnail img {
    width: 200px;
}
img.mini-avatar {
    width: 100px;
}
.float-left {
    float: left;
}
img.medium-avatar {
    width: 200px;
}
.rp-summary .rp-image {
    width: 100%;
}

.rp-summary .participant {
    float: left;
}
.rp-summary .last-answer {
    clear: both;
}
img.thumbnail {
    margin-bottom: 0;
}